@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@200;300;400;500;600;700&display=swap');

:root {
    --primary-color: #50c6ff;
    --border-radius: 5px;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-height: 100vh;
    background-image: url("/bg_gradient.svg");
    background-size: cover;
    font-family: 'Heebo', sans-serif;
}

#show-modal {
    padding: .5rem 1.5rem;
    background-color: rgb(33, 244, 128);
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin: 20px auto 10px;
}

h1 {
    font-size: 1.5rem;
    font-weight: 700;
    padding: 0;
}

a h2 {
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
}

a {
    text-transform: uppercase;
}

a:link,
a:visited {
    text-decoration: none;
    color: white;
}

a:hover,
a:active {
    text-decoration: underline;
}

.item .fa-times {
    float: right;
    cursor: pointer;
    z-index: 2;
}

.item {
    margin: 1rem 0;
    color: white;
}

.name {
    margin-top: .5rem;
}

.name img {
    height: 1.75rem;
    width: 1.75rem;
}

#show-modal:hover {
    background-color: rgb(27, 221, 114);
    color: black;
}

/* Bookmarks */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.item {
    padding: 1.5rem 1.5rem;
    background-color: rgb(38, 33, 63);
    border: none;
    border-radius: var(--border-radius);
    width: 20rem;
}

.item h2 {
    margin-bottom: 0;
}

/* Modal */

.modal-container {
    background-color: rgba(0, 0, 0, 0.75);
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.show-modal {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    max-width: 95%;
    width: 500px;
    animation: modalopen 1s;
}

@keyframes modalopen {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.close-icon {
    float: right;
    color: black;
    font-size: 1.5rem;
    position: relative;
    top: 1.2rem;
    right: 1rem;
    cursor: pointer;
    color: white;
}

.modal-header {
    background-color: rgb(60, 0, 191);
    padding: 1rem;
}

.modal-header h2 {
    margin: 0;
    font-size: 1.5rem;
    color: white;
}

.modal-content {
    padding: 1rem;
    background: whitesmoke;
}

/* Form */

.form-group {
    height: 4rem;
}

.form-input {
    width: 97%;
    padding: .25rem;
    display: block;
}

.form-lable {
    display: block;
}

button {
    cursor: pointer;
    background: rgb(33, 244, 128);
    padding: .5rem .75rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

button:hover {
    background-color: rgb(27, 221, 114);
}